<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vietnam.lottery.business.sysUserAccount.mapper.SysUserAccountMapper">

    <select id="lotteryList"
            resultType="com.vietnam.lottery.business.sysUserAccount.response.UserLotteryListResponse">
        select
        a.create_by as userId,
        a.product_id as redPacketsId,
        b.name as awards,
        a.amount as amount,
        a.create_date as createDate
        from sys_user_account a
        left join unpack_red_packets b on a.product_id = b.id
        left join sys_user c on a.create_by = c.id
        where a.type = '1'
        and a.spending = '0'
        and a.del_flag = '0'
        <if test="request.keyWord != null and request.keyWord != ''">
            and c.id = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or c.account = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or c.phone = #{request.keyWord}
        </if>
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(a.create_date, '%Y-%m-%d') &gt;= date_format(#{request.beginDate}, '%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(a.create_date, '%Y-%m-%d') &lt;= date_format(#{request.endDate}, '%Y-%m-%d')
        </if>
        order by a.create_date desc
    </select>

    <select id="withdrawList"
            resultType="com.vietnam.lottery.business.sysUserAccount.response.WithdrawListResponse">
        select
        a.id as id ,
        a.create_by as userId,
        a.amount as amount,
        a.create_date as createDate,
        a.audit as audit
        from sys_user_account a
        left join sys_user b on a.create_by = b.id
        where a.type = '3' and a.spending = '1' and a.del_flag = '0'
        <if test="request.keyWord != null and request.keyWord != ''">
            and b.id = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or b.account = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or b.phone = #{request.keyWord}
        </if>
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(a.create_date, '%Y-%m-%d') &gt;= date_format(#{request.beginDate}, '%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(a.create_date, '%Y-%m-%d') &lt;= date_format(#{request.endDate}, '%Y-%m-%d')
        </if>
        <if test="request.audit != null and request.audit != ''">
            and a.audit = #{request.audit}
        </if>
        order by a.create_date desc
    </select>

    <select id="commissionsList"
            resultType="com.vietnam.lottery.business.sysUserAccount.response.CommissionListResponse">
        select a.id as userId
        from sys_user a
        where 1 = 1
        <if test="request.keyWord != null and request.keyWord != ''">
            and a.phone = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or a.id = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or a.account = #{request.keyWord}
        </if>
    </select>

    <select id="lowerLevelList"
            resultType="com.vietnam.lottery.business.sysUserAccount.response.SubordinateListListResponse">
        select e.id                           as userId,
               b.level                        as actingLevel,
               ifnull(c.commissionAmount, 0)  as commissionAmount,
               ifnull(d.sumTotal, 0)          as rechargeAmount,
               e.create_date                  as createDate,
               ifnull(f.consumptionAmount, 0) as amount
        from acting_hierarchy_relation a
                 left join acting b on a.acting_id = b.id
                 left join(select (sum(amount)) as commissionAmount, create_by
                           from sys_user_account
                           where type = '0'
                             and spending = '0'
                             and del_flag = '0'
                           group by create_by) c
                          on c.create_by = a.create_by
                 left join (select (sum(amount)) as sumTotal, create_by
                            from recharge_detail
                            where pay_status = '1'
                              and del_flag = '0'
                            group by create_by) d
                           on a.create_by = d.create_by
                 left join sys_user e on a.create_by = e.id
                 left join(select (sum(amount)) as consumptionAmount, create_by
                           from sys_user_account
                           where type = '2'
                             and spending = '1'
                             and del_flag = '0'
                           group by create_by) f
                          on f.create_by = a.create_by
        where a.superior_id = #{id}
        order by e.create_date desc
    </select>

    <select id="getByIdAmount" resultType="java.util.Map">
        select a.create_by                    as createBy,
               ifnull(sum(a.amount), 0)       as incomeAmount,
               ifnull(b.expenditureAmount, 0) as expenditureAmount
        from sys_user_account a
                 left join (select create_by, sum(amount) as expenditureAmount
                            from sys_user_account
                            where spending = '1'
                            group by create_by) b on a.create_by = b.create_by
        where a.spending = '0'
          and a.create_by = #{userId}
          and a.del_flag = '0'
    </select>

    <select id="getByIdCount" resultType="java.util.Map">
        select a.create_by              as createBy,
               ifnull(count(0), 0)      as grabCount,
               ifnull(b.unpackCount, 0) as unpackCount
        from sys_user_account a
                 left join (select create_by, count(0) as unpackCount
                            from sys_user_account
                            where type = '1'
                            group by create_by) b on a.create_by = b.create_by
        where a.type = '2'
          and a.del_flag = '0'
          and a.create_by = #{userId}
    </select>
    <select id="getByIdAmountDetail"
            resultType="com.vietnam.lottery.business.sysUser.response.AccountBalanceResponse">
        select ifnull(a.commissionBalanceAmount, 0) as commissionBalanceAmount,
               ifnull(b.redEnvelopeAmount, 0)       as redEnvelopeAmount,
               ifnull(c.grabAmount, 0)              as grabAmount,
               ifnull(d.withdrawalAmount, 0)        as withdrawalAmount,
               ifnull(e.rechargeAmount, 0)          as rechargeAmount
        from (select sum(amount) as commissionBalanceAmount
              from sys_user_account
              where create_by = #{userId}
                and type = '0'
                and spending = '0'
                and del_flag = '0'
             ) a,
             (select sum(amount) as redEnvelopeAmount
              from sys_user_account
              where create_by = #{userId}
                and type = '1'
                and spending = '0'
                and del_flag = '0'
             ) b,
             (select sum(amount) as grabAmount
              from sys_user_account
              where create_by = #{userId}
                and type = '2'
                and spending = '1'
                and del_flag = '0'
             ) c,
             (select sum(amount) as withdrawalAmount
              from sys_user_account
              where create_by = #{userId}
                and type = '3'
                and spending = '1'
                and del_flag = '0'
             ) d,
             (select sum(amount) as rechargeAmount
              from recharge_detail
              where create_by = #{userId}
                and pay_type = '2'
                and del_flag = '0') e
    </select>
</mapper>

