<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vietnam.lottery.business.unpackRedPackets.mapper.UnpackRedPacketsMapper">
    <select id="findProbability" resultType="com.vietnam.lottery.business.BasicIndicators.response.ProbabilityResponse">
        SELECT
            a.probability,
            a.`name`,
            sum( b.amount ) AS amount
        FROM
            unpack_red_packets a
                INNER JOIN lottery_detail b ON a.id = b.unpack_red_packets_id
        where 1=1
            <if test="createDate != null and createDate != ''">
                and  date_format(a.create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(a.create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
        GROUP BY
            a.`name`,
    </select>
    <select id="findIndicators" resultType="com.vietnam.lottery.business.BasicIndicators.response.IndicatorsResponse">
        select (SELECT COUNT(*) FROM sys_login_detail
        where 1=1
            <if test="createDate != null and createDate != ''">
                and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
        ) as visitorsTotalNumber,
       (SELECT count( 0 ) FROM
           (SELECT count( 0 ) AS newVisitors FROM sys_login_detail
        where 1=1
            <if test="createDate != null and createDate != ''">
                and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
           GROUP BY ip HAVING newVisitors = 1) c
       ) newVisitors,
     (SELECT COUNT(*) FROM sys_login_detail WHERE 1=1
        and temporary_user = "2"
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
    )as totalLogins,
     (SELECT COUNT(*) FROM sys_user  where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
    )as newRegistration,
     (SELECT COUNT(*)FROM grab_red_packets
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
     )as envelopesNumber,
     (SELECT IFNULL(SUM(amount),0) FROM grab_red_packets
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
     )as envelopesTotalAmount,
     (SELECT COUNT(*) FROM unpack_red_packets
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
     )as envelopesRemoveNumber,
     (SELECT IFNULL(SUM(amount),0) FROM lottery_detail
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
     )as totalPrize,
     (SELECT IFNULL(SUM(amount),0) FROM recharge_detail
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
     )as totalRecharge,
     (SELECT IFNULL(SUM(amount),0) FROM withdraw_detail
        where 1=1
        <if test="createDate != null and createDate != ''">
            and date_format(create_date,'%y%m%d') &gt;= date_format(#{createDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
     )as totalWithdrawal
    </select>
</mapper>

