<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vietnam.lottery.business.unpackRedPackets.mapper.UnpackRedPacketsMapper">

    <select id="drawProbability" resultType="com.vietnam.lottery.business.basicIndicators.response.ProbabilityResponse">
        select
        a.probability,
        a.`name`,
        sum( b.amount ) AS amount
        from unpack_red_packets a
        inner join lottery_detail b on a.id = b.unpack_red_packets_id
        where 1=1
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(a.create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(a.create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        group by a.`name`
    </select>

    <select id="statistics" resultType="com.vietnam.lottery.business.basicIndicators.response.IndicatorsResponse">
        select
        (select ifnull(COUNT(*),0) from sys_login_detail
        where 1=1
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        ) as visitorsTotalNumber,
        (SELECT ifnull(a.count,0) FROM (select  count(distinct ip) as count from sys_login_detail) a
        where 1=1
        <if test="request.beginDate == null and request.beginDate == ''">
            and to_days(create_date) = to_days(now())
        </if>
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        group by ip
        ) newVisitors,
        (select ifnull(COUNT(*),0) from sys_login_detail where temporary_user = '0'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as totalLogins,
        (select ifnull(count(*),0) from sys_user where 1=1
        <if test="request.beginDate == null and request.beginDate == ''">
            and to_days(create_date) = to_days(now())
        </if>
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as newRegistration,
        (select ifnull(COUNT(*),0) from sys_user_account where type = '2' and spending = '1'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as envelopesNumber,
        (select ifnull(SUM(amount),0) from sys_user_account
        where type = '2' and spending = '1'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as envelopesTotalAmount,
        (select ifnull(COUNT(*),0) from sys_user_account
        where type = '1' and spending = '0'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as envelopesRemoveNumber,
        (select IFNULL(SUM(amount),0) from sys_user_account
        where type = '1' and spending = '0'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as totalPrize,
        (select IFNULL(SUM(amount),0) from recharge_detail
        where pay_status = '2'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as totalRecharge,
        (select IFNULL(SUM(amount),0) from sys_user_account
        where type = '3' and spending = '1' and audit = '3'
        <if test="request.beginDate != null and request.beginDate != ''">
            and date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{request.beginDate},'%Y-%m-%d')
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            and date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{request.endDate},'%Y-%m-%d')
        </if>
        )as totalWithdrawal
    </select>

    <select id="keep" resultType="com.vietnam.lottery.business.basicIndicators.response.KeepListResponse">
        select count(distinct b.create_by)                                                                 as secondStay,
               count(distinct c.create_by)                                                                 as three,
               count(distinct d.create_by)                                                                 as sevenStay,
               count(distinct e.create_by)                                                                 as fifteenStay,
               count(distinct f.create_by)                                                                 as monthStay,
               count(distinct b.create_by) / (select count(0)
                                              from sys_user
                                              where create_date between
                                                        #{request.secondBegin} and #{request.secondEnd})   as secondPer,
               count(distinct c.create_by) / (select count(0)
                                              from sys_user
                                              where create_date between
                                                        #{request.treeBegin} and #{request.treeEnd})       as threePer,
               count(distinct d.create_by) / (select count(0)
                                              from sys_user
                                              where create_date between
                                                        #{request.serverBegin} and #{request.serverEnd})   as sevenStayPer,
               count(distinct e.create_by) / (select count(0)
                                              from sys_user
                                              where create_date between
                                                        #{request.fifteenBegin} and #{request.fifteenEnd}) as fifteenStayPer,
               count(distinct f.create_by) / (select count(0)
                                              from sys_user
                                              where create_date between
                                                        #{request.mothBegin} and #{request.mothEnd})       as monthStayPer
        from sys_login_detail a
                 left join
             (select create_by
              from sys_login_detail
              where datediff(#{request.beginDate}, #{request.second}) = 1
              group by create_by) b
             on a.create_by = b.create_by
                 left join
             (select create_by
              from sys_login_detail
              where datediff(#{request.beginDate}, #{request.tree}) = 3
              group by create_by) c on a.create_by = b.create_by
                 left join
             (select create_by
              from sys_login_detail
              where datediff(#{request.beginDate}, #{request.server}) = 7
              group by create_by) d on a.create_by = b.create_by
                 left join
             (select create_by
              from sys_login_detail
              where datediff(#{request.beginDate}, #{request.fifteen}) = 15
              group by create_by) e on a.create_by = b.create_by
                 left join (select create_by
                            from sys_login_detail
                            where datediff(#{request.beginDate}, #{request.moth}) = 30
                            group by create_by) f on a.create_by = b.create_by
    </select>
</mapper>

