<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vietnam.lottery.business.actingDetail.mapper.ActingCommissionDetailMapper">

    <select id="list" resultType="com.vietnam.lottery.business.actingDetail.response.ActingDetailListResponse">
        select
        ifnull(sum(a.commission_amount),0) as commissionAmount
        ifnull(sum(a.amount),0)as amount
        b.user_id as userId,
        b.lower_level_id as lowerLevelId
        from acting_detail a
        left join acting_hierarchy_relation b on a.hierarchy_relation_id = b.id
        left join sys_user c on b.user_id = c.id
        where 1 = 1
        <if test="request.phone != null and request.phone != ''">
            and c.phone = #{request.phone}
        </if>
        <if test="request.userId != null and request.userId != ''">
            and b.user_id = #{request.userId}
        </if>
        group by b.id
    </select>

    <select id="lowerLevelList"
            resultType="com.vietnam.lottery.business.actingDetail.response.LowerLevelListResponse">
        select a.lower_level_id    as userId,
               b.level             as actingLevel,
               c.commission_amount as commissionAmount,
               c.amount            as amount,
               d.create_date       as createDate
        from acting_hierarchy_relation a
                 left join acting b on a.acting_id = b.id
                 left join acting_detail c on a.id = c.hierarchy_relation_id
                 left join sys_user d on a.user_id = d.id
        where a.superior_id = #{request.userId}
    </select>
</mapper>

