<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vietnam.lottery.business.actingCommissionDetail.mapper.ActingCommissionDetailMapper">

    <select id="list"
            resultType="com.vietnam.lottery.business.actingCommissionDetail.response.ActingDetailListResponse">
        select ifnull(sum(a.commission_amount), 0) as commissionAmount,
        ifnull(sum(e.amount), 0) as amount,
        d.id as userId,
        c.id as actingId
        from acting_commission_detail a
        left join acting_hierarchy_relation b on a.create_by = b.create_by
        left join acting c on c.id = b.acting_id
        left join sys_user d on c.create_by = d.id
        left join recharge_detail e on d.id = e.create_by
        where 1 = 1
        <if test="request.keyWord != null and request.keyWord != ''">
            and c.phone = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or b.user_id = #{request.keyWord}
        </if>
        <if test="request.keyWord != null and request.keyWord != ''">
            or d.account = #{request.keyWord}
        </if>
        group by b.id
        <if test="request.type !=null and request.type == '1'">
            order by amount
        </if>
        <if test="request.type !=null and request.type == '1'">
            order by amount desc
        </if>
        <if test="request.type !=null and request.type == '1'">
            order by commissionAmount
        </if>
        <if test="request.type !=null and request.type == '1'">
            order by commissionAmount desc
        </if>
    </select>

    <select id="lowerLevelList"
            resultType="com.vietnam.lottery.business.actingCommissionDetail.response.LowerLevelListResponse">
        select b.id               as userId,
               b.level            as actingLevel,
               c.amount           as commissionAmount,
               c.create_date      as createDate,
               d.sumTotal         as amount,
               e.commissionAmount as commissionAmount,
               a.lowerLevel_id    as lowerLevelId
        from acting_hierarchy_relation a
                 left join acting b on a.acting_id = b.id
                 left join (select (sum(amount)) as commissionAmount, create_by
                            from acting_commission_detail
                            group by create_by) e
                           on e.create_by = a.create_by
                 left join (select (sum(amount)) as sumTotal, create_by from grab_red_packets group by create_by) d
                           on a.create_by = d.create_by
                 left join sys_user c on a.create_by = c.id
        where a.superior_id = #{id}
        order by c.create_date desc
    </select>

    <select id="commissionAmount" resultType="com.vietnam.lottery.business.sysUser.response.CommissionAmountResponse">
        select id as id, sum(amount) as amount
        from acting_commission_detail
        where create_by = #{userId}
    </select>
</mapper>

